<div class="card-body p-5 text-center" style="text-align: center; height: 600px;">
    <h1>There was a problem logging in. Check your email and password or create an account.</h1>
    <a href="/login" class="text-white-50 fw-bold" style="color: black !important;"> Let´s Go LogIn!</a>
</div>