<div class="card-body p-5 text-center" style="text-align: center; height: 600px;">
    <h1>User already exists!</h1>
    <h2>Error during registration.</h2>
    <a href="/register" class="text-white-50 fw-bold" style="color: black !important;"> Let´s Go Register!</a>
</div>