<header class="header">
    <nav class="container_nav">
        <a href="/">
                <img src="https://firebasestorage.googleapis.com/v0/b/sneaker-react-coderhouse.appspot.com/o/logo.png?alt=media&token=46cf10a4-6d2c-4103-bd5b-ebf160e6bf08&_gl=1*e20me6*_ga*MTUxMjU4ODQyNS4xNjk5MDE5MzU3*_ga_CW55HF8NVT*MTY5OTAzNzcxMy4yLjEuMTY5OTAzNzcyOC40NS4wLjA." class="logo" />
        </a>
        <ul class="nav">
                <li>
                <a class="a" href="/">Home</a>
                </li>
                <li>
                <a class="a" href="/products">Products</a>
                <ul class="nav__sub">
                    <li><a href="/">Temporada 2023</a></li>
                    <li><a href="/">Temporada 2024</a></li>
                </ul>
                </li>
                <li>
                <a class="a" href="/contact">Contact</a>
                </li>
        </ul>

        <div class="cart__navbar">
            <div class="nav">
                <ul style="margin-top: 1.5rem;">
                    <li>
                        <a class="a" href="/login" class="user">
                            <box-icon type='solid' name='user'></box-icon>
                        </a>
                        <ul class="nav__sub">
                            <li><a href="/profile">Profile</a></li>   
                        </ul>
                    </li>
                </ul>    
            </div>
                <a href="/cart">
                    <box-icon box-icon name="cart"></box-icon>
                </a>
                <span id="contador" class="item__total">
                    0
                </span>
        </div>
    </nav>
</header>