<section class="gradient-custom register">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">

            <form action="/register" method="post" class="mb-md-5 mt-md-2 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase" style="padding-bottom: 1rem;">Create an account!</h2>


              <div class="form-outline mb-4">
                <input type="text" name="first_name" class="form-control form-control-lg" />
                <label class="form-label">FirstName</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" name="last_name" class="form-control form-control-lg" />
                <label class="form-label">LastName</label>
              </div>

              <div class="form-outline mb-4">
                <input type="number" name="age" id="age" class="form-control form-control-lg" />
                <label class="form-label">Age</label>
              </div>

              <div style="margin-bottom: 1rem;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="female" checked />
                    <label class="form-check-label" for="femaleGender">Female</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="maleGender" value="male" />
                    <label class="form-check-label" for="maleGender">Male</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="otherGender" value="other" />
                    <label class="form-check-label" for="otherGender">Other</label>
                </div>
              </div>

              <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control form-control-lg" />
                <label class="form-label">Your Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control form-control-lg" />
                <label class="form-label">Password</label>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit" value="submit">Register</button>
              <p class="text-center mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u style="color: wheat;">Login here</u></a></p>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
